:root{
    --primary-color: #30967c;
    --secondary-color: #e69850;
    --tertiary-color: #69a8f0;
    --grayed: #c2c2c2;
    --base: #ececec;
}

body {
    background: var(--base);
    padding-top: 5rem;
}

.home-icon{
    width: 1.1em;
    height: 1.1em;
    color: #fff;
}

.display-5{
    margin-bottom: 1em;
}

.prop-form{
    width: 60%;
    background: #fff;
    border-radius: 5px;
}

.form-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em auto;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label{
    font-weight: bold;
}

input, select{
    height: 2em;
    border: 1px solid var(--grayed);
    border-radius: 3px;
}

textarea{
    border: 1px solid var(--grayed);
    border-radius: 3px;
    height: 5em;
}

#photo{
    border: none;
    background: var(--tertiary-color);
    color: #fff;
}

#submit{
    width: 20%;
    height: 2.5em;
    background: var(--tertiary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.form-sec{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.form-sec-2{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.form-sec-2-item{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-sec-2-item:nth-of-type(1),.form-sec-2-item:nth-of-type(3){
    margin-right: auto;
}
.form-sec-2-item:nth-of-type(1),.form-sec-2-item:nth-of-type(3){
    margin-right: auto;
}

nav{
    background: var(--primary-color);
}

.properties{
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    height: 35em;
    border-radius: 5px;
}

.back-img{
    background-position: center !important;
    background-size: cover !important;
    height: 60%;
    width: 100%;
}

.prop-cont{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 90%;
    margin: auto;
}

.prop-cont *{
    margin: 0;
}

.prop-title{
    font-size: 1.4em;
    margin-bottom: 0.2em;
}

.location-div{
    margin-bottom: 1em;
}

.prop-location{
    font-size: 1em;
    color: #8d8d8d;
}

.price-p{
    font-size: 0.9em;
    width: 35%;
    background: var(--tertiary-color);
    padding: 0.5em 0.5em;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.card a{
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 1em 0;
    background: var(--primary-color);
    align-items: center;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.prop{
    background: #fff;
    width: 80%;
    height: auto;
    margin: 10em auto;
    font-weight: bold;
}

.prop-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.prop-img{
    background-position: center !important;
    background-size: cover !important;
    width: 40%;
    height: auto;
}

.prop-body{
    width: 60%;
}

.prop-body-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 2em auto;
}

.prop-body h2{
    margin-bottom: 1em;
}

.cat{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.cat .price-p{
    width: 25%;
}

.type-p{
    font-size: 0.9em;
    width: 20%;
    background: var(--secondary-color);
    padding: 0.5em 0.5em;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}


.specs{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.spec-item{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.spec-item img{
    width: 1.1em;
    height: 1.1em;
}

.prop-button{
    width: 30%;
    height: 3em;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.location-div{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.location-img{
    height: 1.4em;
    width: 1.4em;
    color: #8d8d8d;
}