{% extends 'base.html' %}{% block main %}

<h1 class="display-5 fw-bold">Properties</h1>
{% include 'flash_messages.html' %}
<div class="properties">
    {% for prop in properties %}
    <div class="card">
        <img src="static/{{ url_for('get_image', filename=prop.photo) }}" alt="House Image">
        <div class="prop-cont">
            <h3>{{prop.title}}</h3>
            <p>{{prop.location}}</p>
            <p class="price-p">${{prop.price}}</p>
        </div>
        <a href="{{url_for('get_property', propertyid=prop.id)}}">View Property</a>
    </div>
    {% endfor %}

</div>

{% endblock %}