{% extends 'base.html' %}{% block main %}

<h1 class="display-5 fw-bold">Properties</h1>
{% include 'flash_messages.html' %}
<div class="properties">
    {% for prop in properties %}
    <div class="card">
        <div class="back-img" style="background: url(../static{{ url_for('get_image', filename=prop.photo) }});"></div>
        <div class="prop-cont">
            <h3 class="prop-title">{{prop.title}}</h3>
            <div class="location-div">
                <img class="location-img" src="{{url_for('static', filename='img/location.png')}}" alt="Location">
                <p class="prop-location">{{prop.location}}</p>
            </div>
            <p class="price-p">${{prop.price}}</p>
        </div>
        <a href="{{url_for('get_property', propertyid=prop.id)}}">View Property</a>
    </div>
    {% endfor %}

</div>

{% endblock %}
