

{% extends 'base.html' %}{% block main %}

<div class="prop">
    <div class="prop-container">
        <div class="prop-img" style="background: url(../static/{{ url_for('get_image', filename=property.photo) }})"></div>

        <div class="prop-body">
            <div class="prop-body-container">
                <h2>{{property.title}}</h2>
                <div class="cat">
                    <p class="price-p">${{property.price}}</p>
                    <p class="type-p">{{property.type}}</p>
                </div>
                <p>{{property.description}}</p>
                <div class="specs">
                    <div class="spec-item">
                        <img src="{{url_for('static', filename='img/bedroom.png')}}" alt="">
                        <p>{{property.no_bedrooms}} Bedrooms</p>
                    </div>
                    <div class="spec-item">
                        <img src="{{url_for('static', filename='img/shower.png')}}" alt="">
                        <p>{{property.no_bathrooms}} Bathrooms</p>
                    </div>
                </div>
                <p>{{property.location}}</p>
                <button class="prop-button">Email Realtor</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}